﻿.taskName{
	padding: 10px;
	font-size: 52px;
	color: white;
	text-align: center;
	font-style: bold;
	minHeight: 200;
}

.taskTimmer{
	font-size: 20px;
	text-align: center;
	color:white;
	font-style: italic;
	text-shadow: 5px 5px white;
}
