<GridLayout rows="*,*,*" #page>
    <GridLayout columns="*,520" row="0" #taskHard id="taskHard">
    	<Image col="0" src="res://hard" stretch="aspectFill" horizontalAlignment="left"></Image>
        <GridLayout col="1" rows="*,*">
            <Label text="{{hardTask.name}}" id="hard" cssClass="taskName" textWrap="true" row="0"></Label>
            <Label text="{{hardTask.time >= 60 ? ((hardTask.time / 60) | number:'1.0-0') + ' hr' : (hardTask.time) + ' min' }} of work" cssClass="taskTimmer" textWrap="true" row="1" verticalAlignment="center"></Label>
        </GridLayout>
    </GridLayout>
    <GridLayout columns="*,520" row="1" #taskMedium id="taskMedium">
    	<Image col="0" src="res://medium" stretch="aspectFill" horizontalAlignment="left"></Image>
        <GridLayout col="1" rows="*,*">
            <Label col="1" text="{{mediumTask.name}}" id="medium" cssClass="taskName" textWrap="true" row="0"></Label>
            <Label text="{{mediumTask.time >= 60 ? ((mediumTask.time / 60) | number:'1.0-0') + ' hr' : (mediumTask.time) + ' min' }} of work" cssClass="taskTimmer" textWrap="true" row="1" verticalAlignment="center"></Label>
        </GridLayout>
    </GridLayout>
    <GridLayout columns="*,520" row="2" #taskEasy id="taskEasy">
    	<Image col="0" src="res://easy" stretch="aspectFill" horizontalAlignment="left"></Image>
        <GridLayout col="1" rows="*,*">
            <Label col="1" text="{{easyTask.name}}" id="easy" cssClass="taskName" textWrap="true" row="0"></Label>
            <Label text="{{easyTask.time >= 60 ? ((easyTask.time / 60) | number:'1.0-0') + ' hr' : (easyTask.time) + ' min' }} of work" cssClass="taskTimmer" textWrap="true" row="1" verticalAlignment="center"></Label>
        </GridLayout>
    </GridLayout>
</GridLayout>